<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.js"></script>
    <script type="module" src="/javascripts/profilePage.js"></script>
</head>
<body class="body">
    <div class="main">

        <div class="window_username">
            <div class="change_table">
                <button class="stop" id="stop_username">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </button>
                <form action="/profile/newusername" method="post" class="change_form">
                    <p class="change_form_text">New username: </p>
                    <input class="change_form_input" type="text" name="newusername" required>
                    <p class="change_form_text">Password: </p>
                    <input class="change_form_input" type="password" name="password" required>
                    <button class="change_form_button"  type="submit">Save</button>
                </form>
            </div>
        </div>

        <div class="window_monthlyBudget">
            <div class="change_table">
                <button class="stop" id="stop_monthlyBudget">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </button>
                <form action="/profile/newmonthlybudget" method="post" class="change_form">
                    <p class="change_form_text">Monthly Budget: </p>
                    <input class="change_form_input" type="text" name="newMonthlyBudget" required>
                    <p class="change_form_text">Password: </p>
                    <input class="change_form_input" type="password" name="password" required>
                    <button class="change_form_button" type="submit">Save</button>
                </form>
            </div>
        </div>


        <div class="burger_window">
            <div class="burger_menu">
                <button id="close_burger_menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22px" height="22px" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                    </svg>
                </button>
                <div class="list">
    
                    <form action="/main" method="get">
                        <button class="list_item">
                            <div class="list_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-house" viewBox="0 0 16 16">
                                    <path
                                        d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
                                </svg>
                            </div>
                            <div class="list_text">Main page</div>
                        </button>
                    </form>
    
                    <form action="/history" method="get">
                        <button class="list_item" type="submit">
                            <div class="list_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-clock-history" viewBox="0 0 16 16">
                                    <path
                                        d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z" />
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z" />
                                    <path
                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </div>
                            <div class="list_text">History</div>
                        </button>
                    </form>
    
                    <form action="/profile" method="get">
                        <button class="list_item">
                            <div class="list_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person" viewBox="0 0 16 16">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                </svg>
                            </div>
                            <div class="list_text">Your profile</div>
                        </button>
                    </form>
    
                </div>
            </div>
        </div>
    
    
        <header class="header">
            <button class="burger_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
            <img id="logo" src="https://icons.iconarchive.com/icons/iconka/business-outline/512/piggy-bank-icon.png"
                alt="">
            <hr id="line">
            <p class="title">Piggy Bank</p>
            <% if (typeof username !== 'undefined') { %>
                <p class="username"><%= username %></p>
            <% } else { %>
                <p class="username">User</p>
            <% } %>
            <form action="/main/logout" method="get">
                <button class="logout">Sign out</button>
            </form>
        </header>

        
        <div class="content">


            <div class="top">

                <div class="part_1">

                    <img class="icon" src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png"
                        alt="">

                </div>

                <div class="part_2">
                
                    <div class="user_item" id="user_username">
                        <% if (typeof username !== 'undefined') { %>
                            <p class="info" id="Username">Username: <%= username %></p>
                        <% } else { %>
                            <p class="info" id="Username">Username: User</p>
                        <% } %>
                        <button class="info_update" id="change_username"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                    </div> 
                    <div class="user_item" id="user_monthlyBudget">
                        <% if (typeof username !== 'undefined') { %>
                            <p class="info">Monthly budget: <%= monthlyBudget %></p>
                        <% } else { %>
                            <p class="info">Monthly budget: monthly budget</p>
                        <% } %>
                        <button class="info_update" id="change_monthlyBudget"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg>
                        </button>
                    </div>
                    <div class="user_item">
                        <% if (typeof username !== 'undefined') { %>
                            <p class="info" id="date">Date of registration: <%= date_of_registration %></p>
                        <% } else { %>
                            <p class="info" id="date">Date of registration: date of registration </p>
                        <% } %>
                    </div>
                    <b class="error"> <%= error %> </b>
                    <!--<button class="change">Change data</button>-->   
                </div>

            </div>



        </div>
    </div>    
    

</body>
</html>